:root {
    --font-family: -apple-system, system-ui, "Segoe UI", Roboto, Noto, Oxygen-Sans, Ubuntu, Cantrell, "Helvetica Neue", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --background: #354F8B;
    --title: #D0A040;
    --grid-background: #0F265D;
    --cell-hover: #D0A040;
    --button: #0F265D;

}

@font-face {
    font-family: 'font';
    src: url('../Font/PressStart2P.ttf');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    min-height: 100vh;
    font-family: var(--font-family);
    scroll-behavior: smooth;
    background-color: var(--background);
    box-sizing: border-box;
}

.container {
    min-width: 990px;
    max-width: 1080px;
    margin: 0 auto;
}

.title {
    font-family: 'font', var(--font-family);
    font-size: 3rem;
    font-weight: bolder;
    color: var(--title);
    text-align: center;
    padding-top: 50px;
}

.display-text {
    text-align: center;
    font-size: 1.4rem;
    font-family: 'font', var(--font-family);
    color: var(--title);
    padding-top: 50px;
    display: none;
}

.player-new {
    font-size: 1.4rem;
    font-family: 'font', var(--font-family);
    margin: 0 auto;
    align-items: center;
    padding-top: 100px;
    display: flex;
    gap: 50px;
    flex-direction: column;
}

.player-new * {
    color: var(--title);
    text-align: center;
}

.player-new input {
    border: 3px solid var(--cell-hover);
}

.player-new button,
.restart,
.start,
.axis {
    padding: 5px 30px;
    background-color: var(--button);
}

.restart,
.start {
    display: none;
    color: var(--title);
    font-size: 1.1rem;
    font-family: 'font', var(--font-family);
    margin: 50px auto;
}

.axis-choice {
    width: max-content;
    display: none;
    padding-top: 50px;
    margin: 0 auto;
}

.axis {
    color: var(--title);
    font-size: 1.1rem;
    font-family: 'font', var(--font-family);
    margin-left: 10px;
}

.axis:focus {
    border: 3px solid var(--cell-hover);
}




.battlefield {
    padding-top: 50px;
    display: flex;
    gap: 100px;
    justify-content: center;
}

.grid-one,
.grid-two {
    height: max-content;
    display: none;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    background-color: var(--grid-background);


}

.grid-one *,
.grid-two * {
    border: 4px solid var(--background);
}

.grid-one *:hover,
.grid-two *:hover {
    border: 4px solid var(--cell-hover);
}